@font-face {
    font-family: 'Jaapokki Subtract';
    src: url('../fonts/Jaapokki-Subtract.woff2') format('woff2'),
         url('../fonts/Jaapokki-Subtract.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.fundo-colorido {
    background-image: url('../images/background.jpg');
    background-size: cover; /* Ensures the image covers the whole element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    padding: 2rem;
}

.texto-branco{
    text-align: justify;
    text-justify: inter-word;
    color: #fff;
    font-family: 'Jaapokki Subtract';
    font-size: 100px;
    font-weight: 200;
}

.titulo-branco{
    color: #fff;
    font-family: 'Jaapokki Subtract';
    font-weight: bolder;
    font-size: 150px;
    letter-spacing: 2px;
}

h2.titulo-branco{
    font-size: 125px ;
}

.titulo-castanho{
    color: #A85100;
    font-family: 'Jaapokki Subtract';
    font-weight: bolder;
    font-size: 150px;
    letter-spacing: 2px;
}

h2.titulo-castanho{
    font-size: 125px ;
}

h3.titulo-castanho{
    font-size: 110px ;
}


.texto-castanho{
    text-align: justify;
    text-justify: inter-word;
    color: #A85100;
    font-family: 'Jaapokki Subtract';
    font-size: 100px;
    font-weight: 400;
}

.titulo-verde{
    color: #3E5F04;
    font-family: 'Jaapokki Subtract';
    font-weight: bolder;
    font-size: 150px;
    letter-spacing: 2px;
}

h2.titulo-verde{
    font-size: 125px ;
}

h3.titulo-verde{
    font-size: 110px ;
}


.texto-verde{
    text-align: justify;
    text-justify: inter-word;
    color: #3E5F04;
    font-family: 'Jaapokki Subtract';
    font-size: 100px;
    font-weight: 400;
}

.titulo-amarelo{
    color: #D1B201;
    font-family: 'Jaapokki Subtract';
    font-weight: bolder;
    font-size: 150px;
    letter-spacing: 2px;
}

h2.titulo-amarelo{
    font-size: 125px ;
}

h3.titulo-amarelo{
    font-size: 110px ;
}


.texto-amarelo{
    text-align: justify;
    text-justify: inter-word;
    color: #D1B201;
    font-family: 'Jaapokki Subtract';
    font-size: 100px;
    font-weight: 400;
}

.titulo-azul{
    color: #055B61;
    font-family: 'Jaapokki Subtract';
    font-weight: bolder;
    font-size: 150px;
    letter-spacing: 2px;
}

h2.titulo-azul{
    font-size: 125px ;
}

h3.titulo-azul{
    font-size: 110px ;
}


.texto-azul{
    text-align: justify;
    text-justify: inter-word;
    color: #055B61;
    font-family: 'Jaapokki Subtract';
    font-size: 100px;
    font-weight: 400;
}

.fundo-branco{
    background-color: #fff;
    padding: 2rem;
}

.fundo-branco.botao{
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.pontos-botao{
    background-color: #FF8418;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    margin-top: 2rem;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5em;
    font-family: 'Jaapokki Subtract';
}
.pontos-botao:hover{
    transform: scale(1.05);
    cursor: pointer;
}
