@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600,600italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=League+Spartan:wght@300,300i,400,400i,600,600i,700,700i&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald');


.fundo-roxo{
    background-color: #8E73B2;
    padding: 2rem;
}

.texto-branco{
    text-align: justify;
    text-justify: inter-word;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

.titulo-branco{
    color: #fff;
    font-family:  'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    letter-spacing: 2px;
}

.titulo-roxo{
    color: #3F165B;
    font-family:  'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    letter-spacing: 2px;
}

h2.titulo-roxo{
    font-size: 1.5rem ;
}

h2.titulo-branco{
    font-size: 1.5rem ;
}
h3.titulo-roxo{
    font-size: 1.2rem ;
}


.texto-roxo{
    text-align: justify;
    text-justify: inter-word;
    color: #3F165B;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.fundo-branco{
    background-color: #fff;
    padding: 2rem;
}

.fundo-branco.botao{
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.pontos-botao{
    background-color: #3F165B;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    margin-top: 2rem;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.5em;
    font-family: "Source Sans Pro", sans-serif;
}
.pontos-botao:hover{
    transform: scale(1.05);
    cursor: pointer;
}
